<h3>Top Heroes</h3>
<div class="grid grid-pad">
  <a *ngFor="let hero of heroes" class="col-1-4"
      routerLink="/detail/{{hero.id}}">
    <div class="module hero" [style.background-image]="'url(' + hero.img + ')'" [ngStyle]="{  'background-size': 'cover','background-repeat': 'no-repeat'} ">
    <h4 style="align-content:center;"><br><br></h4>
      <h4>{{hero.name}}</h4>
    </div>

  </a>
</div>

<app-hero-search></app-hero-search>
